<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCA3KibjmZ9_HbslLB4ba0a0mwViKpAgh0</string>
	<key>GCM_SENDER_ID</key>
	<string>114487740523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourFriend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>truefriend-3725f</string>
	<key>STORAGE_BUCKET</key>
	<string>truefriend-3725f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114487740523:ios:e2aff95d7dc17f1c5cc92e</string>
</dict>
</plist>